body {
  background-color: white;
}

.linknav {
  text-decoration: none;
  border: solid 2px;
  border-color: blue;
  color: white;
  border-radius: 5px;
  margin: 4px;
  margin-left: 10px;
  position: fixed;
  text-align: center;
  background-color: black;
}

.verde {
  border: solid 2px;
  background-color: green;
  border-color: blue;
  border-radius: 5px;
}

.margin {
  margin: 1rem;
}

.radio {
  border-radius: 5px;
  border-color: gray;
}

.bonito {
  font-size: 1rem;
  color: black;
  margin-left: 5rem;
}

.espacio {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.imagenchquita {
  width: 10rem;
  height: 12rem;
}

.espacioderecho {
  margin-left: 2rem;
}

.final {
  right: 0 !important;
  position: absolute !important;
}

.Personalizar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/image/V4hu3pH8bzExbi7djAh-mvFDyaFoQaqfHU4ar-2Gb9s.webp");
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue {
  text-decoration: none;
  border: solid 2px;
  border-color: gray;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://as2.ftcdn.net/v2/jpg/03/08/62/45/1000_F_308624545_xX0aovP5qCOeRQGT7AwhKZr8HbHKlMBZ.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 4px;
  margin-left: 10px;
}

.azul {
  color: violet;
}

.yellow {
  color: yellow;
}

.expand {
  margin-left: 7rem;
  position: fixed;
  z-index: 1000;
  font-size: 1.4rem;
}

.imagenigual {
  width: 12.9rem;
  height: 12.9rem;
}
